:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

html {
  scroll-behavior: auto; /* Mantemos auto para o efeito de scroll ser preciso */
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #ffffff;
  overflow-x: hidden;
}

#root {
  width: 100%;
}
